.navbar{
    //background-color: #5a0404e8 !important;
    h2{
        color: #7e0606;
    }
    input{
        border: 2px solid;
        border-radius: 4px;
        //color:#198754;
    }
    // ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    //     color: #198754;
    //     opacity: 1; /* Firefox */
    //   }
    .searchBox{
        width:50%;
    }
}