.navbar{
    //background-color: #5a0404e8 !important;
    .logoBox{
        img{
            height: 30px;
        // width: 100px;
            margin-top:5px;
        }
        p{
            color: #7e0606;
            font-size: 25px;
            margin: 0px !important;
        }
        margin-bottom: 1px !important;
    }
    input{
        border: 1px solid #157347;
        border-radius: 4px;
        //color:#198754;
    }
    // ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    //     color: #198754;
    //     opacity: 1; /* Firefox */
    //   }
    .searchBox{
        width:40%;
    }
}