/* You can add global styles to this file, and also import other style files */
.alignCenter{
    text-align: center;
}

body{
    background-color: rgb(236, 229, 229);
}

.loginButton{
    margin-right: 5px;
}