<div class="container">    
    <div class="card">
        <div class="card-body">
        <h4 class="card-title alignCenter">Sign Up</h4>
            <div class="card-text">
                <form [formGroup]="registerForm" (ngSubmit)="submit(registerForm.value)">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control inputbox" placeholder="Enter email" formControlName="email" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control inputbox" placeholder="Password" formControlName="password" required>
                        <label class="error">{{errorMessage}}</label>
                        </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary loginButton" [disabled]="registerForm.untouched">Sign Up</button>
                        <button type="button" class="btn btn-danger loginButton">Sign up with Google</button>
                    </div>
                    <div>
                        <p>Already existing user?<a class="redirect" routerLink="/login">Login</a></p>
                    </div>
                </form>
            </div>      
        </div>
    </div>
</div> 


