.mainBox{
    margin: 10px 60px 10px !important;
    padding: 10px !important;
    //min-height: 1200px;
    background: whitesmoke !important;
    .title {
        border-left: 5px solid blue;
        padding-left: 10px;
        font-weight: lighter;
    }
}
img{
  height:120px;
  width:auto
}
